body {
  margin: 0;
  font-family: DungGeunMo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("./fonts/DungGeunMo.ttf");
}
